.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurf-form {
  display: flex;
  flex-direction: column;
  margin: 2.5% 30%;
  align-items: left;
  justify-content: space-evenly;
}
label {
  width: 15%;
}
.smurf-input {
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
  width: 330px;
}



.smurf-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5%;
  justify-content: space-evenly;
}

.smurf {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 2.5%;
  box-shadow: 2px 2px gray;
}